//.avatar

.editcontainer{
  display: flex;
  justify-content: center;
}
// .container{
//   text-align: end;
//   margin-top: 50px;
//   background-image: url("../images/LoginBackground.jpg");
//   height : 500px;
//   border-color: antiquewhite;
//   border: 10px;
//   border-bottom-left-radius: 3%;
//   border-bottom-right-radius: 3%;
//   //background-color: var(--secondary-color);
//   h1{
//     color : white
//   }
// }

.back{
  display: flex;
  //justify-content: right;
  text-align: end;
  //align-items: flex-end;
  //justify-content: right;
    box-shadow: 0 0 20px khaki;
    background-image: url("../images/LoginBackground.jpg");
    // background-color: rgb(105, 14, 14);
    height: 550px;
    width: auto;
    //border-bottom-left-radius: 20px;
    //border-bottom-right-radius: 20px;
    // margin-top: 4%;
    margin: 4% 0% 4% 0%;
    //align-items: center;
    flex-direction: column;
    position: relative;
    // h1{
    //   color : white
    // }
    .sp{
      position: absolute;
      bottom: 0;
      //left: 0;
      //right: 0;
      text-align: 'center';
    }
    .icon{
      position: absolute;
      color : var(--primary-color);
      margin-right: 300px;
      margin-bottom: 40px;
      bottom: 0;
      //left: 0;
      right: 0;
      text-align: 'center';
      opacity: 0.6
    }
    .butt{
      position: absolute;
      margin-left: 70px;
      margin-bottom: -20px;
      bottom: 0;
      left: 0;
      //right: 0;
      text-align: 'center';
    }
    .avatar {
      //width: 300px; /* Adjust the width and height as needed */
      height: 200px ;
      width: 210px;
      background-position: center;
      border-radius: 50%; /* Makes it circular */
      overflow: hidden; /* Ensures content doesn't overflow */
      margin-top: 50px;
      margin-bottom: -50px;
      margin-right: 70px;
    }
    h1{
      font-size: 30;
      margin-bottom: 10px;
    }
}


  // .mainhead{
  //   //background-image: url("../images/black_back.jpg");
  //   border-radius: 10px;
  //   background-size :cover ;
  //   background-position : center;
  // }
  .userpage{
    background-color: var(--primary-color);
    background-color: antiquewhite;
    //background-color: var(--overlay);
    background-color: black;
    justify-content: center;
  }
  
  // .empty-avatar {
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: #ccc; /* Default background color for the empty avatar */
  //   color: #fff; /* Text color for the initials */
  //   font-size: 24px; /* Adjust the font size as needed */
  //   border-radius: 50%; /* Makes it circular */
  //   margin: 100px;
  // }