.barbersList{
    max-width: 1260px;
    margin: 100px calc((100% - 1260px) / 2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    height: auto;
}


.flex{
    max-width: 1260px;
    height: calc(100vh - 513px);
    margin: 100px calc((100% - 1260px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}