.barbersList{
    max-width: 1260px;
    min-height: 800px;
    margin: 150px calc((100% - 1260px) / 2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 320px;
    grid-gap: 20px;
    height: auto;
}


.flex{
    max-width: 1260px;
    min-height: 800px;
    height: calc(100vh - 513px);
    margin: 150px calc((100% - 1260px) / 2);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.container{
    display :grid;
    justify-content:start;
    margin : 50px;
    .bookmarks{
        padding: 20px 50px;
        width: calc(150vb);
        max-height: 100vh;
        border : 1px solid var(--secondary-color);
        border-radius: 4px;
        //background-color: var(--secondary-color);
        box-shadow: 0 4px 8px 0 var(--secondary-color-lighter);
        //height: 780px;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: row;
        justify-content: space-evenly;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
}
}