@import url(https://fonts.cdnfonts.com/css/iranyekan);


*{
  direction: rtl;
  font-family: Roboto, "IRANYekan", sans-serif !important;
}

  .createAccount {
    background: #f2f2f2;
      padding: 50px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 30rem;
      position: fixed;
      right: 0;
      h1 {
        margin-top: -7px;
      }
      .username {
        width: 30rem;
        margin-bottom: 10px;
        
      }
      .email {
        width: 30rem;
        margin-bottom: 10px;
        
      }
      .password {
        width: 30rem;
        margin-bottom: 10px;
        .icon1 {
          top: 3px;
        }
      }
      .confirmPass {
        margin-bottom: 10px;
        .icon2{
          top: 3px;
        }
      }
      .name {
        width: 30rem;
        margin-bottom: 10px;
      }
      .lastName {
        width: 30rem;
        margin-bottom: 10px;
      }

      .telephoneNum {
        width: 30rem;
        margin-bottom: 10px;
      }

      .imagew {
        position: fixed;
        left: 0;
      top: 0;   
      }
  }



.SignUp {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 475px;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(106, 128, 191);
    color: #f0f0f0;
    font-size: large;
    align-items: center;
  
  }

.check {
  display: inline;
  vertical-align: sub;
}