@import url(https://fonts.cdnfonts.com/css/iranyekan);


*{
  direction: rtl;
  font-family: Roboto, "IRANYekan", sans-serif !important;
}


body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    margin-top: 100px;

  
  }

  .createAccount {
    background: #f2f2f2;
      padding: 50px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      height: 400px;
      width: 30rem;
      h1 {
        margin: -10px;
        margin-bottom: 2px
      }
      .username {
        width: 30rem;
        margin-bottom: -12px;
      }
      .email {
        width: 30rem;
        margin-bottom: -12px;
      }
      .password {
        width: 30rem;
        margin-bottom: 15px;
        .icon1 {
          top: 25px;
        }
      }
      .confirmPass {
        margin-bottom: 4px;
      }
  }


.checkbou {
    border-radius: 20px;
    width: fit-content;

    margin-bottom:  20px;
}

.SignUp {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 475px;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(27, 85, 244);
    color: #f0f0f0;
    font-size: large;
    align-items: center;
  
  }

.check {
  display: inline;
  vertical-align: sub;
}