.container {
  margin: 0;
  height: 100vh;
  background: #f2f2f2;
  background-image: url(../images/LoginBackground.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  

  }

.createAccount {
    
  overflow-y: auto;
  position:fixed;
  display: flex;
  background-color: var(--primary-color);
  opacity: 0.8;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  height: 80%;
  width: 450px;
  margin: auto;
  z-index: 1;
  
    .koli {
      top: 0  ;
      position: absolute;
      justify-content: center;
      align-items: center;
      
    }

    .tab1 {
      margin-top: 30px;
      margin-right: 20px;
    }
    .tab2 {
      margin-right: 20px;
    }
    
      .username {
        width: 22rem;
        margin-bottom: 10px;
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }
      .email {
        width: 22rem;
        margin-bottom: 10px;
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
        
      }
      .password {
        width: 22rem;
        margin-bottom: 10px;
        .icon1 {
          top: 3px;
        }
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }
      .confirmPass {
        margin-bottom: 10px;
        .icon2{
          top: 3px;
        }
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }
      .name {
        width: 22rem;
        margin-bottom: 10px;
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }
      .lastName {
        width: 22rem;
        margin-bottom: 10px;
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }

      .telephoneNum {
        width: 22rem;
        margin-bottom: 10px;
        input.MuiInputBase-input {
          border-bottom-color: var(--secondary-color) !important; // Override default border color to red
        }
      
        label.MuiInputLabel-root.Mui-focused {
          color: var(--secondary-color) !important; // Optionally change the label color when focused
        }
      
        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: var(--secondary-color) !important; // Optionally change outline color when focused
        }
      }

  
      .SignUpCustomer {
        width: 22rem;
        background-color: var(--secondary-color);
        border-radius: 5px;
        height: 3rem;
        border: 0;
        cursor: pointer;
      }
      .SignUpCustomer:hover {
        border: 2px solid black;
      }

      // .SignUpCustomer:hover {
      //   border: 2px;
      //   border-color: black;
      // }

      .SignUpBarber {
        width: 22rem;
        background-color: var(--secondary-color);
        height: 3rem;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
      }
      .SignUpBarber:hover {
        border: 2px solid black;
        background-color: var(--secondary-color-lighter);

      }
      // .SignUpBarber:hover {
      //   border: 2px;
      //   border-color: black;
      // }
  }



.SignUp {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 480px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: #f0f0f0;
    font-size: large;
    align-items: center;
  
  }
