.footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color-lighter);
    padding: 3rem 1rem 0 0;
    bottom: 0;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.footer .links{
    width: 60%;
    margin: auto auto 50px auto ;
    display: flex;
    flex-direction: row;
    align-items: flex-start ;
    justify-content: space-between;
}

.footer ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer li h6{
    padding-bottom: 1rem;
    font-size: 14px;
}

.footer li {
    padding-bottom: 0.6rem;
    font-size: 12px;
}

.footer a:hover{
    cursor: pointer;
    color: var(--primary-color);
}


.footer .sec{
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

.footer .sec h4{
    font-size: 20px;
}

.footer .sec p{
    font-size: 14px;
}

.footer .sec .socials{
    width: 100px;
    margin: 1px -3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}