.header {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: transparent;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    margin: auto;
    height: 100%;
}

.header .navMenu{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header .navItem {
    color: var(--secondary-color);
    padding: 1rem;
    font-weight: 500;
}

.header .navbar .logo{
    padding: 1rem;
    color: var(--secondary-color);
    
}

.header .navItem a:hover {
    color: var(--secondary-color-lighter);
    cursor: pointer;
    
}

.header .navbar .login{
    color: #ffffff;
    padding: 1rem;
    font-weight: 500;
    background-color: var(--secondary-color-lighter );
    border-radius: 5px; 
}

.header .navbar .login:hover{
    background-color: var(--secondary-color);
}



