.NotificationCard{
    border: 2px solid ;
    border-radius: 5px;
    display: flex;
    padding: 50px auto;
    margin: 0 5px;
    min-width: 200px;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}