
.error{
  display: flex;
  justify-content: center;
  align-items: center;
}

.barber_list {
  //margin: 200px;
  //margin-top: 0px;
  display :grid;
  //padding: 20px;
  justify-content:start;
  //align-items: left;
}
.barber_listt {
  //margin: 200px;
  //margin-top: 0px;
  display :grid;
  //padding: 20px;
  justify-content:start;
  //align-items: left;
}
.grid_containerr {
    //opacity: 0.7;
    padding: 20px 50px;
    width: calc(100vw - 300px);
    max-height: 700px;
    border : 1px solid var(--secondary-color);
    border-radius: 4px;
    //background-color: var(--secondary-color);
    box-shadow: 0 4px 8px 0 var(--secondary-color-lighter);
    //height: 780px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}



// .barber-list h1 {
//   text-align: center;
//   margin-bottom: 20px;
// }



// .swiperImage {
//   width: 100%;
//   height: 700px; /* Adjust the height as needed */
//   object-fit: cover; /* Preserve aspect ratio and cover the entire space */
//   border-radius: 10px;
//   //opacity: 0.6;
// }
.grid_container {
  padding: 0 100px;
    width: calc(100vw - 300px);
    height: 600px;
    overflow: auto;
    //display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
h1{
  color : var(--secondary-color);
  margin: 10px;
}
.container{
  display: flex;  
  flex-direction: row;
  //height: 100vh;
  //background-image: url("../images/LoginBackground.jpg");
  background-position: 100%;



  .menu{
      height: 100vh;
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px 5px; 
      background-color: var(--secondary-color);
      color: var(--primary-color);


      .menuItem{
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;


          .name{
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: center;
              h3{
                  padding: 8px 3px;
              }

              button{
                  width: auto;
              }
          }

          h2{
              font-size: 18px;
          }
      }

      .button{
          color: var(--primary-color);
          width: 258px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
      }
  }
  

.fileInput {
  display:none;
  bottom: 0;
  left: 0;
}

.uploadButton {
  //position: absolute;
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}

.avatarContainer:hover .uploadButton {
  display: grid;
}


  .main{
      height: 100vh;
  }

}
.saloncomments{
  position: relative;
    width: calc(100vw - 300px);
    //height: 850px;
    //display: flex;
    flex-direction: row;
    margin: auto;
  display: grid;

  h1{
  color: var(--secondary-color);
  margin: 10px;
    }
    .commentcontainer{
      bottom: 0;
      background-color: var(--secondary-color);
      //left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      position: fixed;
    }

  
}

.salondashboard{
   //display: flex;
  // //justify-content: right;
   //text-align: end;
  //align-items: flex-end;
  //justify-content: right;
  //   // background-color: rgb(105, 14, 14);
  //   //height: 550px;
  //   width: 1620px;
  //   //margin: 4% 0% 4% 0%;
  //   flex-direction: column;
  //   position: relative;
  .profcontainer{
    display: flex;
    text-align: end;

  // background-color: rgb(105, 14, 14);
  //height: 550px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 var(--secondary-color);
  min-height : 500px;
  min-width: 1260px;
  max-width: 1420px;
  //margin: 4% 0% 4% 0%;
  flex-direction: column;
  position: relative;
    justify-content: center;
    align-items: center;
  }
  .pagecontainer{
    display: flex;
    text-align: end;
    margin : 200px;
    border: 2px solid var(--secondary-color);
    box-shadow: 0 4px 8px 0 var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 80px;
    // background-color: rgb(105, 14, 14);
    //height: 550px;
    width: 1620px;
    min-height : 450px;
    //margin: 4% 0% 4% 0%;
    flex-direction: column;
    position: relative;
      //height: 600px;
      justify-content: center;
      align-items: center;
    }

  h1{
    font-size:80px;
    position: absolute;
    margin-right: 80px;
    margin-bottom: 80px;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    //margin: 10px;
  }
  .address{
    color:antiquewhite;
    position: absolute;
    bottom: 0;
    right: 0;
    //margin-right: 85px;
    //margin-bottom: 50px;
    opacity: 0.8;
  }
  .phone{
    color:antiquewhite;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 85px;
    margin-bottom: 30px;
    opacity: 0.8;
  }

  .dashboardmenu{
      margin: 200px;
      margin-bottom: 10px;
      margin-top: 5px;
      //margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:center;

      .paper{
        //width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
      }
      .card{
          //width: 400px;
          width: 100%;
          background-color: var(--secondary-color);
          display: flex;
          box-shadow: 0 4px 8px 0 var(--secondary-color);
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          // .check{
          //   width: 100%;
          //     margin: 15px 0 20px 0;
          //     padding: 0px 10px;
          //     display: flex;
          //     //align-items: flex-start;
          //     justify-content: space-between;
          //     flex-direction: row-reverse;

          // }
          .header{
              width: 100%;
              margin: 10px 0 10px 0;
              padding: 0px 10px;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              flex-direction: row-reverse;

              h3{
                color: var(--primary-color);
                  font-size: 30px;
              }
              p{
                color: var(--secondary-color);
                font-size: 25px;
              }
          }

          
          .score{
              font-size: 15px;
              font-weight: 500;
              margin: 0px 10px 20px 0;
              color: var(--primary-color);
              opacity: 0.8;
          }


          a{
              padding: 10px 20px;
              font-size: 15px;
              color: var(--secondary-color-lighter);
          }
          a::hover{
              color: var(--primary-color);
          }
      }
  }
}
.form{
  padding: 0 100px;
  width: calc(100vw - 300px);
  height: 100%;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  gap:  px;
  //overflow: scroll;

  .formItem{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
  }

  .formHeader{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }


  
  }