.container{
    display: flex;
    //background-color: aqua;
    margin: 0.4% 10% 4% 10%;
    height: 100vh;
    .main{
    }
}


.header {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
    background-color: transparent;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    //margin: auto;
    height: 100%;
    margin-bottom: -50px;
}

.header .navMenu{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.header .navItem {
    background-color: white;
    border-radius: 0px;
    color: var(--secondary-color);
    padding: 1rem;
    font-weight: 500;
}

.header .navbar .logo{
    padding: 1rem;
    color: var(--secondary-color);
    
}

.header .navItem a:hover {
    color: var(--secondary-color-lighter);
    cursor: pointer;
    
}

.header .navbar .login:hover{
    background-color: var(--secondary-color);
}



