/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
// @import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
// @import url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-code-font@v1.1.2/dist/font-face.css);
@import url(https://fonts.cdnfonts.com/css/iranyekan);


*{
  // font-family:"Scheherazade1", serif !important ;
  // font-family: 'Vazir Code', monospaced;
  direction: rtl;
  font-family: Roboto, "IRANYekan", sans-serif !important;
}
body {

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  background: #f2f2f2;
  margin-top: 100px;
  font-family:"Scheherazade1", serif !important;

}
.login {
  background: #f2f2f2;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 30rem;
    h1 {
      margin-bottom: 30px;
      font-size: 1.9rem;

    }
    .email {
      margin-bottom: 6px;
    }
    .password {
      margin-bottom: 8px;
      .icon {
        bottom: 7px;
        position: absolute;
        left: 0;
      }

    }
}



.login-form {
  display: flex;
  flex-direction: column;
  
}

.home h1{

    display: flex;
    justify-content: center;
    margin-bottom: 200px;

}



.loginButton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 475px;
  height: 40px;
  border-radius: 10px;
  background-color:rgb(27, 85, 244);
  color: #f0f0f0;
  font-size: large;
  align-items: center;

}

.createAcc {
  margin-top: 20px;
  width: 475px;
  height: 40px;
  border-radius: 10px;
  background-color:rgb(27, 85, 244);
  color: #f0f0f0;
  font-size: large;


}

.forgetPass {
  font-size: 10px;
  margin-left: 210px;
  color: black;
  
}

