@import url(https://fonts.cdnfonts.com/css/iranyekan);

:root {
    --primary-color: #F0F0F0; /* Light Gray */
    --secondary-color: #3F51B5; /* Green */
    --background-color: #FFFFFF; /* White */
    --text-color: #333333; /* Dark Gray */
  }

*{
    direction: rtl;
    font-family: Roboto, "IRANYekan", sans-serif !important;
}